* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "inter", sans-serif;
  line-height: 160%;

  --gradient-colors: #9572FC 0%, #43E7AD 50%, #E2D45C 100%;
  --dark-bg: #121214;
  --white-color: #ffffff;
}

body {
  background: var(--dark-bg) url("./assets/bg.jpg") no-repeat top center / 100% auto;
  color: var(--white-color);
}

header {
  padding-top: 2rem;
  text-align: center;
}

header img {
  width: 15rem;
}

main {
  max-width: 36rem;
  width: 90%;
  margin: 3rem auto;
}

section {
  background-image: linear-gradient(90deg, var(--gradient-colors));
  border-radius: 0.625rem;
  padding-top: .25rem;
}

section > div {
  padding: 2rem;
  padding-top: 1.5rem;
  border-radius: 0.5rem;
  background-color: #2A2634;
}

section h2 {
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  color: #A1A1AA;
}

form {
  display: flex;
  gap: 0.85rem;
  margin: 1.25rem 0;
  flex-wrap: wrap;
}

input, select {
  all: unset;
  border: 2px solid #9147FF88;
  border-radius: 0.5rem;
  padding: 0.675rem;
  font-size: 0.875rem;
  background-color: var(--dark-bg);
}

input {
  flex: 1;
}

button {
  width: 100%;
  border: 0;
  background-image: linear-gradient(245deg, var(--gradient-colors));
  padding: 0.675rem;
  border-radius: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.12rem;

  transform: all 0.3s;
}

button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  box-shadow: 0 5px 1rem rgba(255, 248, 107, 0.2);
}

#aiResponse {
    background: #00000066;
    border-radius: 0.5rem;
    padding: 1.25rem;
    border-left: 4px solid #43E7AD;
}

#aiResponse ul {
    padding-left: 1.5rem;
    opacity: 0.8;
}

#aiResponse p {
    color: var(--white-color);
}

button:disabled {
  color: var(--dark-bg);
  transform: initial;
  box-shadow: initial;
  cursor: not-allowed;
}

.hidden {
    display: none;
}

/*animations*/
main section {
  opacity: 0;
  transform: translateY(2rem);

  animation-name: appear;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes appear {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.loading {
  animation: pulse 1.3s infinite;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}